.recipes-list-name {
    margin-top: 35px;
}

.recipes-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipes-list-link {
    width: 45vw;
    font-size: 20px;
    color: black;
    display: flex;
    margin: 5px;
    justify-content: end;
}

.recipe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.recipe-tags {
    width: 45vw;
    display: flex;
    gap: 10px;
    color: black;
}

